body {
  color: #5b5b5b;
  font-family: 'Roboto', sans-serif;
}

button.mdl-button--icon {
  height:48px;
  width:48px;
}

.mdl-button--primary{
  background-color: var(--color-section-title);
}

.hidden {
  display: none !important;
}
