body {
  color: #5b5b5b;
  font-family: 'Roboto', sans-serif;
}

button.mdl-button--icon {
  height:48px;
  width:48px;
}

.mdl-button--primary{
  background-color: var(--color-section-title);
}

/*Select Menu*/
.mdl-textfield ul {
  max-height: 380px;
  overflow-y:auto;
}

.hidden {
  /*display: none !important;*/
  max-height: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #135c6d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0cd2c9;
}

/* Datepicker */
::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator{
  font-family: Roboto, sans-serif;
}
