.details_select{
  position: relative;
  display: inline-block;
  font-family: Helvetica, Roboto, sans-serif;
  font-size: 16px;
  color: #bdbdbd;
  font-style: normal;
  width: 46%;
  padding: 20px 0px;
  max-width: 300px;
}
.details_select select{
  border: none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      display: block;
      font-size: 16px;
      font-family: "Helvetica","Arial",sans-serif;
      margin: 0;
      padding: 4px 0;
      width: 100%;
      background: 0 0;
      text-align: left;
      color: inherit;
}

#details .details_select + .details_select {
  float: right;
}
