#details {
 overflow: hidden;
 box-shadow: 1px 0px 6px grey;
}

#details section .content {
  padding: 20px 20px 5px;
}

#details section header {
  background-color: var(--color-section-title);
  box-shadow: 0px 2px 4px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

#details section header h3 {
  font-size: 1.2rem;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#details section header .actions {
  margin-right: 20px;
}

#details section .content .row {
  clear: both;
}

#details section .content .mdl-textfield {
  width: 100%;
}

#details section .content .row .mdl-textfield {
  float: left;
  width: 46%;
}

#details section .content .row .mdl-textfield + .mdl-textfield {
  float: right;
}

#details .search .content .mdl-textfield {
  width: 85%;
}

#details .athlete .content {
  padding-top: 0;
}
#details .save-or-clear{
  float: right;
  display: block;
  margin: 5px 20px 5px 0px;
}
#details .save-or-clear .clear-button{
  background-color: #de3d3dad;
  margin-left: 10px;
}
#details .save-or-clear .clear-button:hover{
  background-color: #ff0b0bfa;
}
#details .accordion-button{
  float: right;
  align-self:flex-end;
}

#details .i_date{
  max-width: 150px;
  border: 2px solid gray;
  border-radius: 4px;
}

a:focus {
  outline:none;
}

.add-athlete{
  margin: 2% 0% 2% 20%;
}

.header-details{
  grid-column:1;
  grid-row: 1;
  display: inline;
}
.header-details h2{
  margin-top: 0px;
  padding-left: 35%;
}
.subheader-title{
  color:white;
  margin-left: 20px;
  padding-top: 4px;
}

.athlete {
  grid-column: 1;
  grid-row: 3;
}

.details_select select:focus{
  outline: none;
  box-shadow: 2px 2px 4px gray;
}

.toggle_year{
  display: block;
  margin-left: 35%;
  font-size: 16px;
}
.i_diferencia {
  width: 70%;
  border: none;
  border-bottom: 2px solid lightgray;
  margin-left:25%;
}
.i_text{
  width: 70%;
  border: 2px solid gray;
  border-radius: 4px;
  margin-left:15%;
}
.pago_cell {
  width: 20%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.save-button{
  background-color: #207d7d;
  color: white;
  align-self: flex-end;
}
.save-button:hover{
  background-color:#2bbbca;
}

.accordion-content{
  max-height: 0%;
  overflow: hidden;
  transition: display 0.2s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #135c6d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0cd2c9;
}
