.details header {
  justify-content: flex-end;
}

.details header button {
  order: 1;
}

.details header h2 {
  
}



a:focus {
  outline:none;
}
.details {
 overflow-y: auto;
}
.add-athlete{
  margin: 2% 0% 2% 20%;
}
.b48x48{
  height:48px;
  width:48px;
}

.smallbar{
  margin: 0px 10px 0px 0px;
  width: 40%;
}
.grid-details{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.header-details{
  grid-column:1;
  grid-row: 1;
  display: inline;
}
.header-details h2{
  margin-top: 0px;
  padding-left: 35%;
}
.subheader-details{
  height: 24px;
  font-size: 16px;
  background-color: #207d7d;
  padding-top:4px;
  box-shadow: 2px 2px 4px gray;
}
.subheader-title{
  color:white;
  margin-left: 20px;
  padding-top: 4px;
}
.indented{
  margin-left:15px;
}
.search {
  grid-column: 1;
  grid-row: 2;
}
.athlete {
  grid-column: 1;
  grid-row: 3;
}
.details_select{
  position: relative;
  display: inline-block;
  font-family: Helvetica, Roboto, sans-serif;
  font-size: 16px;
  color: #bdbdbd;
  font-style: normal;
  width: 40%;
  padding: 20px 0px;
  margin-right:10px;
}
.details_select select{
  border: none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      display: block;
      font-size: 16px;
      font-family: "Helvetica","Arial",sans-serif;
      margin: 0;
      padding: 4px 0;
      width: 100%;
      background: 0 0;
      text-align: left;
      color: inherit;
}

.details_select select:focus{
  outline: none;
  box-shadow: 2px 2px 4px gray;
}

.sponsor {
  grid-column: 1;
  grid-row: 4;
}
.add-sponsor{
  margin: 0px 5px 10px 66%;
}
.toggle_year{
  display: block;
  margin-left: 35%;
  font-size: 16px;
}
.i_diferencia {
  width: 70%;
  border: none;
  border-bottom: 2px solid lightgray;
  margin-left:25%;
}
.i_text{
  width: 70%;
  border: 2px solid gray;
  border-radius: 4px;
  margin-left:15%;
}
.pago_cell {
  width: 20%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.save-button{
  background-color: #207d7d;
  color: white;
}
.save-button:hover{
  background-color:#2bbbca;
}
.pago-button{
  margin: 20px 10px 10px 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #135c6d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0cd2c9;
}
