body {
  min-width: 1200px;
}

#app-header {
  height: var(--header-height);
}

#app-main {
  height: calc(100vh - var(--header-height));
  display: flex;
}

#details {
  width: var(--aside-width);
  max-width: 500px;
  box-shadow: 2px 2px 4px gray;
}

#reports {
  flex: 1;
  overflow: hidden;
}
