.header-reports{
  height: 16px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.header-reports h2{
  margin-top: 0px;
}

.report-type {
  min-width: 150px;
  padding-top: 10px;
}

.spreadsheet {
  width: 96%;
  border: 5px solid #207d7d;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #2196f3;
}
