:root {
  --header-height: 48px;
  --aside-width: 32vw;

  --color-section-title: #207d7d;
  --color-table-header: white;
  --border-table-header: #135c6d;
  --text-color-table-header: #614545;
  --color-table-even-row: #f2f2f2;
  --color-table-hover: #dcdede;

  --color-cancel-button: #de6666;
  --color-cancel-button-hover: #e61111;

  --tg-border: #76efef;
}
