body {
  min-width: 1200px;
}

aside,
main,
div {
  outline: 1px solid blue;
}

.container {
  height: 100vh;
  display: flex;
}

aside {
  flex: 1;
  max-width: 520px;
}

aside .details {
  padding: 20px;
  height: calc(100% - 40px);
}

main {
  flex: 2;
  overflow: hidden;
}

main .reports {
  padding: 20px;
  height: calc(100% - 40px);
}
