.grid-reports{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 4fr;
}
.header-reports{
  grid-column:1/4;
  grid-row:1;
}
.report-type {
  grid-column: 1;
  grid-row: 2;
}
.filters {
  grid-column: 2;
  grid-row: 2;
}
.inactivos {
  grid-column: 3;
  grid-row: 2;
}
.spreadsheet {
  grid-column: 1/4;
  grid-row: 3;
  max-height: 100%;
  width: 100%;
  overflow-x: auto;
}
