body {
  min-width: 1366px;
  min-height: 768px;
}
.grid {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'period        num-alerts   num-alerts'
    'stats         num-alerts   num-alerts'
    'staff-alerts  alert-types  alert-types'
    'trend-wh      trend-bay    trend-enroute';
  grid-gap: 30px;
  justify-content: center;*/

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100%;
  width: 100%;
}


.payments-form {
  grid-column: 1;
  grid-row: 11/21;
}

.block {
  display: block;
}
.inline{
  position:absolute;
}
.i_fecha {
  width: 95%;
}
.i_monto {
  width: 95%;
}
.small-bar {
  width: 20%;
}
.pago_cell {
  width: 23%;
  align-self: center;
}
.s_table {
  border-collapse: collapse;
  border-spacing: 0;
}
.s_table th {
  padding: 5px;
  border: 1px solid black;
}
.st_cell {
  border: 1px solid gray;
}
