body {
  height: 768px;
  width: 1366px;
  margin: 10px;
  margin-right: 200px;
}
div {
  border-style: solid;
  border-color: blue;
  border-width: 2px;
}
p {
  float: left;
  padding: none;
}
h3 {
  padding: none;
  margin: none;
}

.i_fecha{
  width: 25%;
}
.i_monto{
  width:25%
}
.small-bar{
  width:20%;
}
.t_header{
  border-bottom:solid;
  border-bottom:1px;
}
.t_col{
  border-left:solid;
  border-left-width:1px;
  width: 100px;
}

#left-side{
  height: 750px;
  width: 380px;
  float: left;
  margin-right: 5px;
}
#search-bar{
  height: 90px
}
#atleta{
  height: 200px;
}
#patrocinador{
  height: 120px;
}
#fecha{
  height: 325px;
  border-color: red;
}
#right-side{
  width: 950px;
  height: 750px;
  float: left;
}
#reportes{
  height: 150px;
}
#spreadsheet{
  height: 600px;
  width: 950px;
  float: left;
  position: static;
  overflow: auto;
}
#table{
  width: 1250px;
  overflow-x: auto;
  height: 600px;
}
#r_left{
  width: 20%;
  height: 100%;
  float: left;
}
#r_center{
  height: 100%;
  width:40%;
  float: left;
}
#r_right{
  height: 100%;
  width: 38%;
  float: left;
}
