body {
  min-height: 768px;
  min-width: 1366px;
  margin: 10px;
}
div {
  border: 2px solid blue;
  display: block;
}
p {
  float: left;
  padding: none;
}
h3 {
  padding: none;
  margin: none;
}
.block{
  display: block;
}
.i_fecha{
  width: 95%;
}
.i_monto{
  width:95%
}
.small-bar{
  width:20%;
}
.t_header{
  border-bottom:solid;
  border-bottom:1px;
}
.t_col{
  border-left:solid;
  border-left-width:1px;
  width: 100px;
}
.pago_cell {
  width: 23%;
  align-self: center;
}
.s_table{
  border-collapse:collapse;
  border-spacing:0;
}
.s_table th{
  padding: 5px;
  border: 1px solid black;
}
.st_cell{
  border: 1px solid gray;
}

#left-side{
  width: 24%;
  float: left;
  margin-right: 5px;
}
  #search-bar{
  }
  #ATLETA{
    height: 27%;
  }
  #PATROCINADOR{
    height: 20%;
  }
  #PAGO{
    border: 2px solid red;
    align-items: center;
  }
#right-side{
  height: 95%;
  width: 74%;
  float: left;
}
  #reportes{

  }
    #r_left{
      width: 20%;
      float: left;
    }
    #r_center{
      width: 35%;
      float: left;
    }
    #r_right{
      width: 33%;
      float: left;
    }
  #spreadsheet{
    max-height: 75%;
    width: 950px;
    float: left;
    overflow: auto;
}
